[class~='ant-col'] {
    background: transparent;
    border: 0;
    display: flex;
    justify-content: space-around;
}

[class~='ant-col'] > div {
    /* height: 300px; */
    width: 40vh;
    font-size: 14px;
    /* line-height: 120px; */
    background: #0092ff;
    border-radius: 4px;
    margin: 3vh;
    padding: 1vh;
}

[class~='ant-col'] > div > div > p {
    margin: 10px;
    text-align: start;
}

pre.demo-code {
    direction: ltr;
}
.ant-col {
    padding: 0;
}
