.col {
    background: transparent;
    border: 0;
    display: flex;
    justify-content: space-around;
}

[class~='ant-col'] > div > div > p {
    margin: 10px;
    text-align: start;
}

pre.demo-code {
    direction: ltr;
}
.ant-col {
    padding: 0;
}
