.col {
    background: transparent;
    border: 0;
    display: flex;
    justify-content: space-around;
}

.div {
    /* height: 300px; */
    width: 40vh;
    font-size: 14px;
    /* line-height: 120px; */
    background: #99c3e4af;
    /* border: 1px solid black; */
    border-radius: 4px;
    margin: 3vh;
    padding: 1vh;
    display: flex;
    flex-direction: row;
}

[class~='ant-col'] > div > div > p {
    margin: 10px;
    text-align: start;
}

pre.demo-code {
    direction: ltr;
}
.ant-col {
    padding: 0;
}

h3 {
    text-align: start;
}
img {
    width: 5rem;
}
